 /* font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;  */
/* Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343 */
main{
    margin:0px;
    background-color:#F2F1E8; 
}
body{
    margin: 0px;
    font-family: 'Roboto';
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;

}
.creek-logo{
display: flex; 
height: 10px;
padding: 50px;
width: 60px;
}


 nav{
   padding: -50px;
margin: 0;
list-style-type: none;
background-color: white;
width: 100%;
font-family: 'Roboto',sans-serif;
font-size: 20px;
text-align: center;
position: fixed;
top: 0;
text-transform: uppercase;
 margin: 0; 
 text-justify: center;
word-spacing: 60px;
display: inline-block;
}


h1{
    margin-top: 100px;
    font-family: 'Merriweather', serif; 
    font-weight: normal;
    text-align: center;
    padding-top: 50px;
    font-size: 3rem;
}

div > p{
    text-align: center;
    font-family: 'Merriweather', serif; 
    font-size: 2rem;
}

div > ul {
    display: flex;
    /* flex-wrap: wrap; */
    flex-shrink: 1;

}

ul > li {
    text-align: center;
    color: #967343;
    background-color: #2B2F26;
    
}

 .Submit{
  display: flex; 
  align-content: center; 
}
main > p{
    margin-top: 10px;
    font-family: 'Merriweather', serif; 
    font-weight: normal;
    text-align: center;
    padding-top: 10px;
    font-size: 1rem;
}
#submitBox{
    display: flex;
}

#bird{
    width: 100px;
    height: 100px;
}
blockquote{
    font-style: italic;
    font-family: 'Merriweather', serif;
    font-size: 30px;
}
.verticle-line{
width: 6px;
height: 500px;
background-color: red;
}
#par-about{
    font-size: 50px;
    font-family: 'Merriweather', serif;
}
.top-row{
    display: flex;
    justify-content: space-between;
    height: 500px;
    width: 100%;
    margin: 10px;
}
.bot-row{
    display: flex;
    justify-content: space-between;
    height: 350px;
    width: 100%;
    margin: 0 10px 10px 10px;
}

.productImages{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}
.productImages .row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.productImages p{
    background-color: #2B2F26;
    color: #F2F1E8;
    padding: 10px;
    align-self: flex-end;
    font-size: 1.4em;
}
.box{
    display: flex;
    flex: 1;
    height: 55vh;
    margin: 5px;
}
.sm-box{
    display: flex;
    flex: 1;
    height: 35vh;
    margin: 5px;
}
.box:first-child{
    flex: 3;
}
.sm-box:nth-child(3){
    flex: 2;
}

#Endless{
    background-image: url("./images/optimized/background-3.jpg");
    background-size: cover;
}
#Sets{
    background-image: url("./images/optimized/product-2.jpg");
    background-size: cover;
}
#Textures{
    background-image: url("./images/optimized/product-3.jpg");
    background-size: cover;
}
#TeaTime{
    background-image: url("./images/optimized/product-4.jpg");
    background-size: cover;
}
#Jars{
    background-image: url("./images/optimized/product-5.jpg");
    background-size: cover;
}
#Wasabi{
    background-image: url("./images/optimized/product-6.jpg");
    background-size: cover;
}
#Sippin{
    background-image:url("./images/optimized/product-7.jpg");
    background-size: cover;
}


footer{
    
    background-color: #2B2F26;
    padding: 10px;
    width: 100%;
    height: 50px;
    align-items: center; 
     display: flex; 
    font-family: 'Merriweather', serif;

}
footer > div{
     color: white; 

}